node_modules
/.next/
/out/
/build/
/dist/
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel
.firebase
/coverage/
/playwright-report/
/test-results/
tsconfig.tsbuildinfo
.github/
migrate_domain.mjs
service-account.json
*.key
sentry.properties
*.pem
functions/lib/
android/.gradle/
android/app/build/
android/build/
.capacitor/
